
*{
    box-sizing: border-box;
    
}
html{
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    background: yellowgreen;
}
.welcome, .play, .human, .computer{
    padding: 1em;
    margin: 2em;
    border-radius: 4em;
    width: 20em;
    justify-self: center;
    background: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
}

.play{
    display:none;
    justify-content: center;
    align-items: center;
    height: 7em;
}
.result{
    display: none;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.resultAnnouncement{
    display: none;
    justify-content: center;
    align-items: center;
} 